.facets {
  width: 100%;
  display: block;
  margin-top: 70px

}

.facet {
  margin: 6px;
  font-size: 12px;
  color: #777;
  border: 1px solid #aaa;
}

.date {
  border: 1px solid #aaa;
  margin: 3px;
  display: block;
  text-align: right;
}

.date input{
  width: 80px;
  display: inline;
  margin: 2px;
  margin-left: auto;
  text-align: right;

}
