{
parser: "babel-eslint",
extends: [
"standard",
"standard-react",
"react-app"
],
plugins: [
"babel",
"react",
"promise"
],
env: {
browser: true
},
globals: {
__DEV__: false,
__TEST__: false,
__PROD__: false,
__COVERAGE__: false
},
rules: {
brace-style: [
2,
"1tbs"
],
comma-dangle: [
2,
"always-multiline"
],
indent: [
"error",
2,
{
SwitchCase: 1
}
],
jsx-a11y/href-no-hash: "off",
jsx-quotes: [
2,
"prefer-single"
],
key-spacing: 0,
max-len: [
2,
120,
2
],
no-unused-vars: [
2,
{
vars: "all",
args: "after-used",
ignoreRestSiblings: false
}
],
no-var: 1,
object-curly-spacing: [
2,
"always"
],
react/prop-types: 1,
semi: [
2,
"never"
],
space-in-parens: [
"error",
"never"
]
}
}
