.header {
  background-color: var(--institution-main-color);
}
.header a {
  margin: 0 40px;
  text-decoration: none;
}

.headerInner {
  position: relative;
  width: 100%;
}

a.departmentLogo {
  position: absolute;
  right: 20px;
}
@media (max-width: 780px) {
  .header {
    text-align: center;
  }
  a.departmentLogo {
    display: none;
  }
}

@media (min-width: 1280px) {
  .headerInner {
    margin: 0 auto;
    width: 1280px;
  }
}
