.alternateImage {
  display: inline-block;
  margin: .5em .25em;
}
.alternateImage:nth-of-type(3n) {
  margin-right: .5em;
  margin-left: 0;
}
.alternateImage:nth-of-type(3n + 2) {
  margin-right: 0;
  margin-left: .5em;
}
.alternateImage img {
  height: calc(var(--sidebar-width)/3 - .5em);
  width: calc(var(--sidebar-width)/3 - .5em);
}

@media (max-width: 780px) {
  .alternateImage img {
    height: calc(20vw - .5em);;
    width: calc(20vw - .5em);
  }
}
