.mainContent {
  margin: 0 auto;
  min-height: 90vh;
  width: var(--inner-page-width);
  padding-top: 1.8em;
}

@media (max-width: 780px) {
  .mainContent {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}
