.searchBox {
  border: 1px solid #555;
}
.searchField {
  border: 2px solid #eee;
  background: #fff;
}

.searchComponent {
  width:600px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
}

.searchbar {
  width:500px;
  height:40px;
  border: none;
  font: 19px helvetica;
  vertical-align: top;
  padding-left: 10px;
}

.advancedSearch {
  text-align: right;
  font-size: 12px;
  padding: 5px 3px;
}

.advancedSearch a {
  text-decoration: none;
  color: #000;
}

.searchIcon {
  width: 30px;
  height: 30px;
  padding: 4px;
}

.submitSearch {
  border:none
}
