.search{
  border: 2px solid #eee;

}

.searchComponent {
  width:600px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
}

.searchbar {
  width:500px;
  height:40px;
  border: none;
  font: 16px helvetica;
  vertical-align: top
}

.advancedSearch {
  text-align: right;
}

.advancedSearch a {
  text-decoration: none;
  color: #000;
}

.searchIcon {
  width: 30px;
  height: 30px;
  padding: 4px;
}

.submitSearch {
  border:none
}
