.home.mainContent {
	width: 1280px;
}

.banner {
	position: relative;
	height: 363px;
}

.bannerImage {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.imageCaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	z-index: 5;
	color: #fff;
	box-sizing: border-box;
	font-weight: bold;
}

.imageCaption h1 {
	margin: 0;
	font-size: 24px;
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
}

.imageCaption p {
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	font-size: 16px;
	margin-top: 8px;
}

.imageCaption sub {

	font-size: 10px;
	display: block;
	line-height: 1.3em;
}

.captionFrame {
	max-width: 960px;
	margin: 0 auto;
}


.mainContent.home {
	position: relative;
	margin-top: 0;
}

.home .submitSearch {
	height: 62px;
}

.home .searchComponent {
	position: absolute;
	top: 335px;
	z-index: 200;
	left: 280px;
}

.home .searchComponent {
	width: 700px;
}

.home .searchbar {
	width: 635px;
	height: 60px;
}

.featured {
	margin-top: 5em;
}

.featured .cell img {
	width: 100%;
	display: block;
}

.featured figure {
	position: relative;
}

.featured figcaption {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: block;
	width: 100%;
	color: #fff;
	padding: 12px;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 24px;
}


