.card.browseCard {
  background-color: var(--navigation-main-color);
  width: calc(var(--inner-page-width)/3 - 2rem/3);
}

.card.browseCard:nth-of-type(3n + 1) {
  margin: 1rem .5rem 1rem 0;
}
.card.browseCard:nth-of-type(3n + 2) {
  margin: 1rem .5rem 1rem .5rem;
}
.card.browseCard:nth-of-type(3n) {
  margin: 1rem 0 1rem .5rem;
}

.card.browseCard img {
  height: calc(var(--inner-page-width)/6);
  margin: 0;
  width: 100%;
}

.card.browseCard h3 {
  color: var(--navigation-text-color);
}
@media (max-width: 1024px) {
  .card.browseCard {
    width: calc(var(--inner-page-width)/3 - 2rem/3);
  }
  .card.browseCard img {
    height: calc(var(--inner-page-width)/6);
    width: 100%;
  }
}
@media (max-width: 780px) {
  .card.browseCard {
    width: calc(50% - .75rem);
  }
  .card.browseCard img {
    height: calc(var(--inner-page-width)/3);

    width: 100%;
  }
}
@media (max-width: 550px) {
  .card.browseCard {
    width: 100%;
  }
  .card.browseCard img {
    height: 250px;
    width: 100%;
  }
}
