.itemImage {
  margin: 0 0 10px;
  position: relative;
}

.itemImage img {
  cursor: pointer;
  height: auto;
  object-fit: cover;
  object-position: center;
  width: var(--sidebar-width);
  width: 100%;
}

.itemImage img.expandIcon {
  height: 30px;
  width: 30px;
  margin: 6px;
}

.expandWrapper {
  background: white;
  width: 42px;
  height: 42px;
  display: inline-block;
  border-radius: 40px;
  position: absolute;
  right: .75rem;
  bottom: .75rem;
  -webkit-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.23);
  -moz-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.23);
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.23);
}

@media (max-width: 780px) {
  .itemImage img {
    height: calc(100vw - 40px);;
    width: calc(100vw - 40px);
  }
}
