.itemImage {
  margin: 0 0 10px;
  position: relative;
}

.itemImage img {
  height: var(--sidebar-width);
  object-fit: cover;
  object-position: center;
  width: var(--sidebar-width);
}

.itemImage img.expandIcon {
  bottom: .25em;
  height: 24px;
  right: .25em;
  position: absolute;
  width: 24px;
}

@media (max-width: 780px) {
  .itemImage img {
    height: calc(100vw - 40px);;
    width: calc(100vw - 40px);
  }
}
