.itemImage {
  margin: 0 0 10px;
  position: relative;
}

.itemImage img {
  cursor: pointer;
  height: auto;
  object-fit: cover;
  object-position: center;
  width: var(--sidebar-width);
  width: 100%;
}

.itemImage img.expandIcon {
  bottom: .75rem;
  height: 36px;
  right: .75rem;
  position: absolute;
  width: 36px;
}

@media (max-width: 780px) {
  .itemImage img {
    height: calc(100vw - 40px);;
    width: calc(100vw - 40px);
  }
}
