.card {
  width: calc((var(--inner-page-width) - 1em)/2 - 20px);
}

.card img {
  height: calc((var(--inner-page-width) - 1em)/4 - 40px);
  margin: 10px;
  object-fit: cover;
  object-position: center;
  width: calc((var(--inner-page-width) - 1em)/2 - 40px);
}

.card h3 {
  word-break: normal;
}
