.advancedSearch input{
  width: 70vw;
  display: block;
  padding: 8px;
  margin-bottom: 8px;
}

.advancedSearch div{
  text-align: left;
  font-size: var(--default-font-size);
}

.advancedSearch button{
  background: #777;
  color: #eee;
  margin: 10px;
  font-size: var(--default-font-size);
}

.advancedSearch h3 {
  text-align: left;
}

.advancedSearch select{
  font-size: var(--default-font-size);
  display: block;
}
