.advancedSearch input{
  width: 70vw;
  display: block;
  padding: 8px;
  margin-bottom: 8px;
}

.advancedSearch div{
  font-size: var(--default-font-size);
  text-align: left;
}

.advancedSearch button{
  background: #777;
  color: #eee;
  font-size: var(--default-font-size);
  margin: 10px;
}

.advancedSearch h3 {
  text-align: left;
}

.advancedSearch select{
  font-size: var(--default-font-size);
  width: 72vw;
  height: 40px;
  display: block;
}

.fields button{
  background: #eee;
  color: #777;
  position: absolute;
  right: 8vw;
  margin-top: -35px;
}
