.advancedSearch input{
    width: 70vw;
    display: block;
    padding: 8px;
}

.advancedSearch div{
    font-size: var(--default-font-size);
    text-align: left;
}

.advancedSearch button{
  background: #777;
  padding: 8px;

  color: #eee;
  font-size: var(--default-font-size);
  margin: 10px;
}

.advancedSearch h3 {
  text-align: left;
}
