.navBar {
  background-color: var(--navigation-main-color);
  color: var(--navigation-text-color);
}
.navBarInner {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  width: calc(100vw - 60px);
}

.navBar nav {
  margin: 0 auto;
  height: 70px;
  vertical-align: middle;
  line-height: 70px;
  width: 50vw;
}
.navBar a{
  text-decoration: none;
  color : #ffffff;
  font-size : 1rem;
  font-family: Geneva;
  padding: 16px;
}
.navBar a:hover{
  color : #aaaaaa;
}
.LoginButton {
  border-left: 1px solid #666;
  height: 70px;
  line-height: 70px;
  margin-left: auto;
  padding: 0;
  width: 60px
}
.LoginButton a {
  text-align: right;
  margin: 0;
  height: 70px;
  vertical-align: top;
  line-height: 70px;
  width: 100%;
  display: inline-block;
  padding: 0 10px;
}


.siteTitle {
  margin: 0 40px;
}

@media (min-width: 1280px) {
  .navBarInner {
    margin: 0 auto;
    width: 1220px;
  }
}
