.navBar {
  background-color: var(--navigation-main-color);
  color: var(--navigation-text-color);
}
.navBarInner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navBar nav {
  margin: 0 auto;
}
.navBar nav a{
  text-decoration: none;
  color : #ffffff;
  font-size : 1rem;
  font-family: Geneva;
  padding: 16px;
}
.navBar nav a:hover{
  color : #aaaaaa;
}
.LoginButton {
  margin-left : auto;
  text-align : right;
  padding : 0 40px;
}
.LoginButton button{
  font-size : 1rem;
  padding : 10px;
  height : 40px;
 }

.siteTitle {
  margin: 0 40px;
}

@media (min-width: 1280px) {
  .navBarInner {
    margin: 0 auto;
    width: 1280px;
  }
}
