.partners {
  display: flex;
}
.partners div {
  width: calc(33.33% - 20px);
  word-break: break-word;
}
.partners div a {
}
.partners .partner1 {
  margin: 0 20px 0 0;
}
.partners .partner2 {
  margin: 0 10px;
}
.partners .partner3 {
  margin: 0 0 0 20px;
}

.partners h3 {
  text-align: left;
}

@media (max-width: 1024px) {
  .partners {
    display: block;
  }
  .partners div {
    width: 100%;
    margin: 0 !important;
    text-align: left;
  }

}
